<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Query Builder Interface</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
</head>
<body>
    <div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Query Builder Interface</p>
        </footer>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
